# Notebook Using Python

In [31]:
! python3 --version

Python 3.8.5

In [22]:
import pandas as pd
import janitor

In [23]:
path_data = "../01_data/penguins.csv"
path_output = "../03_outputs/"

In [24]:
penguins = pd.read_csv(path_data)

In [25]:
penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007

In [26]:
export = (penguins.reorder_columns(['year', 'island']))

In [27]:
export.to_csv(path_output + "reordered_penguins_python.csv", index=False)