# Notebook Using Python

In [1]:
import pandas as pd

In [2]:
path_data = "../01_data/penguins.csv"
path_output = "../03_outputs/"

In [3]:
penguins = pd.read_csv(path_data)

In [4]:
penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007

In [5]:
export = (penguins[['year', 'island']])

In [6]:
export.to_csv(path_output + "filtered_penguins_python.csv", index=False)

### Install A Package (docker session)

In [7]:
! pip3 install Pillow

Collecting Pillow
  Downloading Pillow-8.1.0-cp38-cp38-manylinux1_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 2.0 MB/s eta 0:00:01
Installing collected packages: Pillow
Successfully installed Pillow-8.1.0

In [8]:
import PIL